<p>
  <%= platform.package_id %>
</p>
<p>
  <%= platform.version %>
</p>

<div class="ui small images">
  <%= image_tag(url_for(platform.icon), class: 'ui rounded image') if platform.icon.attached? %>
  <%= image_tag(url_for(platform.splash), class: 'ui rounded image') if platform.splash.attached? %>
  <%= image_tag(url_for(platform.logo), class: 'ui rounded image') if platform.logo.attached? %>
</div>
