<p id="notice"><%= notice %></p>

<div class="app-show">
  <%= image_tag @platform.icon_or_default, class: 'ios-logo platform_icon' %>

  <h2 class="ui center aligned header">
    <%= @app.name %>
    <div class="sub header">
      <i class="<%= @platform.name == 'android' ? 'android' : 'apple' %> icon"></i>
      <%= @platform.package_id %>
      <div class="ui divider"></div>

      <div class="ui labels">
        <span class="ui blue label">
          <i class="tag icon"></i>
          <%= @platform.version %>
        </span>

        <% if @platform.updated? %>
          <span class="ui green label">
            <i class="check icon"></i>
            Updated!
          </span>
        <% else %>
          <span class="ui orange label">
            <i class="warning sign icon"></i>
            Outdated!
          </span>
        <% end %>
      </div>

    </div>
  </h2>
</div>
<br><br>

<div class="ui equal width center aligned grid tight tabs">
  <div class="column">
    <a class="link">
      <h3 class="ui icon header signing">
        <i class="key icon"></i>
        <div class="content">
          Signing
        </div>
      </h3>
    </a>
  </div>
  <div class="column">
    <a class="link">
      <h3 class="ui icon header files">
        <i class="folder icon"></i>
        <div class="content">
          Files
        </div>
      </h3>
    </a>
  </div>
  <div class="column">
    <a class="link">
      <h3 class="ui icon header update">
        <i class="cloud upload icon"></i>
        <div class="content">
          Update
        </div>
      </h3>
    </a>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui transition fade in tab" data-tab="signing">
  <h4 class="ui horizontal divider header signing-tab">
    <i class="key icon"></i>
    Signing
  </h4>
  <div class="tight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
<div class="ui transition fade in tab" data-tab="files">
  <h4 class="ui horizontal divider header files-tab">
    <i class="folder icon"></i>
    Files
  </h4>
  <div class="tight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
<div class="ui transition fade in tab" data-tab="update">
  <h4 class="ui horizontal divider header update-tab">
    <i class="cloud upload icon"></i>
    Update
  </h4>
  <div class="tight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
