<p id="notice"><%= notice %></p>

<h1>Apps</h1>

<div class="ui equal width left aligned padded grid stackable">
  <% @apps.in_groups_of(4).each do |group| %>
    <div class="doubling four column row">
      <% group.each do |app| %>
        <% next if app.nil? %>
        <div class="column">
          <div class="ui segment">
            <div class="ui items">
              <div class="item">
                <div class="ui tiny circular image">
                  <% if app.android&.logo&.attached? %>
                    <%= image_tag url_for(app.android.logo) %>
                  <% else %>
                    <%= image_tag 'elliot' %>
                  <% end %>
                </div>
                <div class="content">
                  <a class="header"><%= app.name %></a><br>
                  <span class="package-id"><%= app.package_id %></span><br>
                  <div class="meta platform-icons">
                    <% if app.android.present? %>
                      <%= link_to app.android, class: 'android' do %>
                        <i class="android icon"></i> <%= app.android.version %>
                      <% end %>
                    <% end %>
                    <% if app.ios.present? %>
                      <%= link_to app.ios, class: 'ios' do %>
                        <i class="apple icon"></i> <%= app.ios.version %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    <%= link_to app do %>
                      <div class="ui blue label"><i class="eye icon"></i> Details</div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color primary</th>
      <th>Color secondary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.color_primary %></td>
        <td><%= app.color_secondary %></td>
        <td><%= link_to 'Show', app %></td>
        <td><%= link_to 'Edit', edit_app_path(app) %></td>
        <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
