<div class="app-show">
  <%= image_tag @app.icon, class: 'ios-logo' %>

  <h2 class="ui center aligned header">
    <%= @app.name %>
    <div class="sub header">
      <%= @app.color_primary %> | <%= @app.color_secondary %>

      <div class="ui divider"></div>

      <div class="ui labels">

        <% if @app.updated? %>
        <span class="ui green label">
          <i class="check icon"></i>
          Updated!
        </span>
        <% else %>
        <span class="ui orange label">
          <i class="warning sign icon"></i>
          Outdated!
        </span>
        <% end %>

        <%= link_to edit_app_path(@app), class: 'ui label' do %>
        <i class="edit icon"></i>
        Edit
        <% end %>
      </div>
    </div>
  </h2>
</div>
<br><br>

<div class="ui stackable equal width grid">
  <!-- Android -->
  <div class="center aligned column">
    <h3 class="ui icon header">
      <i class="android icon"></i>
      <div class="content">
        Android
      </div>
    </h3>

    <div class="center aligned">
      <% if @app.android.present? %>
        <%= render 'platforms/details', platform: @app.android %>
        <br>
        <%= link_to edit_platform_path(@app.android), class: 'ui button' do %>
          <i class="edit icon"></i> Edit
        <% end %>
        <%= link_to platform_path(@app.android), class: 'ui button' do %>
          <i class="eye icon"></i> View
        <% end %>
      <% else %>
        <%= link_to 'Create Android Platform', new_platform_path(app_id: @app.id, name: 'android') %>
      <% end %>
    </div>
  </div>

  <!-- iOS -->
  <div class="center aligned column">
    <h3 class="ui icon header">
      <i class="apple icon"></i>
      <div class="content">
        iOS
      </div>
    </h3>

    <div class="center aligned">
      <% if @app.ios.present? %>
        <%= render 'platforms/details', platform: @app.ios %>
        <br>
        <%= link_to edit_platform_path(@app.ios), class: 'ui button' do %>
          <i class="edit icon"></i> Edit
        <% end %>
        <%= link_to platform_path(@app.ios), class: 'ui button' do %>
          <i class="eye icon"></i> View
        <% end %>
      <% else %>
        <%= link_to 'Create iOS Platform', new_platform_path(app_id: @app.id, name: 'ios') %>
      <% end %>
    </div>
  </div>
</div>
