<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Color primary:</strong>
  <%= @app.color_primary %>
</p>

<p>
  <strong>Color secondary:</strong>
  <%= @app.color_secondary %>
</p>

<table>
  <tr>
    <th>Android</th>
    <th>iOS</th>
  </tr>
  <tr>
    <% if @app.android.present? %>
      <td><%= render 'platforms/details', platform: @app.android %></td>
    <% else %>
      <td>
        <%= link_to 'Create Android Platform', new_platform_path(name: 'android', app_id: @app.id) %>
      </td>
    <% end %>
    <% if @app.ios.present? %>
      <td><%= render 'platforms/details', platform: @app.ios %></td>
    <% else %>
      <td>
        <%= link_to 'Create iOS Platform', new_platform_path(name: 'ios', app_id: @app.id) %>
      </td>
    <% end %>
  </tr>
</table>

<div id="results" class="hide">
  <h3>Results</h3>
  <pre class="code"></pre>
</div>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
