<!DOCTYPE html>
<html>
  <head>
    <title>IonicDuplicator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <!-- Notificações bonitas -->
    <%= custom_toastr_flash %>

    <div class="main-wrapper">

      <%= render 'layouts/side_menu' %>

      <%= render 'layouts/top_menu' %>

      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
